@import "./styles.css";
/* Overwrite some values of materialize / Menu, Burguer icon */
nav .sidenav-trigger{
    margin: 0;
}

nav {
	height: 76px;
	line-height: 76px;
    background-color: #2c368a;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	display: block;
	font-size: 35px;
	height: 76px;
	line-height: 76px;
}

@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
     min-height:64px
    }
    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
     height:74px;
     line-height:74px;
    }
    .navbar-fixed {
     height:64px
    }
}

.show-data-field{
    border-bottom: thick double #e2dbca;
}

.modal{
    width: 100%;
    max-height: 90%;
}

.center .btn-small{
    margin: 1rem;
}

.checkbox-field{
    margin: .5rem;
    border-bottom: thick double #e2dbca;
    padding: inherit;
}

.custom-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    border: 1px solid white;
}

/* Start of Signature css */

#signatureparent {
    color:darkblue;
    background-color:darkgrey;
    /*max-width:600px;*/
    padding:20px;
}

/*This is the div within which the signature canvas is fitted*/
#signature {
    border: 2px dotted black;
    background-color:lightgrey;
}

/* Drawing the 'gripper' for touch-enabled devices */ 
html.touch #content {
    float:left;
    width:92%;
}
html.touch #scrollgrabber {
    float:right;
    width:4%;
    margin-right:2%;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAAAAACh79lDAAAAAXNSR0IArs4c6QAAABJJREFUCB1jmMmQxjCT4T/DfwAPLgOXlrt3IwAAAABJRU5ErkJggg==)
}
html.borderradius #scrollgrabber {
    border-radius: 1em;
}